:root {
    --containerWidth: 1440px;
    --font-family: 'Evolventa';
    --mainColor: #191919;
    --secondColor: #4A3AFF;
    --padding-container: 0;
    --transitionDefault: all .3s ease;
    --transitionLIinear: all .2s linear;
    --padding: 1px;
    --radius: 1px;
}